@import url('https://fonts.googleapis.com/css?family=Exo|Ranga|Roboto|Slabo+27px: 100, 200, 300, 400, 500, 600, 700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script: 100, 200, 300, 400, 500, 600, 700');

/*----------------Background colours*/

/*List of hex codes

Mistborn blue - #6D8EB7
*/


body{
    background:#6D8EB7;
    padding-top: 100px;
}



.background {
    background: linear-gradient(rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)),

    url("../images/books.jpg");


}

.mistborn-page-background{
    background-color: #6D8EB7;
}


.stormlight-page-background{
     background: #b3181b;
     height: 100%;
}

.other-books-background{
    background: #9d64b2;
}


#welcome {
    background-color: rgba(192, 192, 192, 0.9);



}

#bio {
    background: rgba(0, 0, 0, 0.6);
   padding-right: 15px;
   padding-left:15px;
}

.bio-bacgkround-color{
    background-color: red;
}

/*NAVBAR*/

.navbar ul{
   
    display: inline-block;
   
}

.navbar ul li{
   padding-bottom: 20px;

}

.navbar a{
    color: #fff;
    text-align: center;
   
}


.navbar{
    margin-bottom: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-color: #525252;
    border:0;
    z-index: 1;
    
}

.navbar .navbar-brand {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Ranga";
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background: transparent;

}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

 .navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: #FFFFFF;

}

.navbar-btn:hover {
    background-color: #000;
    border-color: #df4929;
    color: #FFFFFF;
}




 

/*--------------Style*/


.styles {
    height: 40px;
     padding-left: 0;
    padding-right: 0;

}


.styles a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 30px;
    font-family: "Ranga";
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 10px;
 


}

/*----------------Picture*/

.picture {
    background: url("../images/brendon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    min-width: 360px;
    padding: 0;
    position: static;
    
}

/*----------------Bio*/

.bio-paragraph {
    color: #fafafa;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    display: inline-block;

}

/*----------------Welcome*/

.welcome-heading {
    color: #fafafa;
    text-align: center;
    font-family: "Slabo+27px";
    font-weight: 400;
    font-size: 40px;
}


.intro-paragraph{
   
    display: inline-block;
    width: 100%;
    
}

.intro-paragraph p{
   color: #fafafa;
   font-family: "Exo";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#welcome{
        margin-top: 20px;

}

/*----------------hover.css*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    
  
  
}

/*----------------Footer*/

footer {
    background: #525252;
    color: #fafafa;
    min-height: 120px;
    padding-left: 0px;
    width: 100%;
  

}

/*----------------placeholder*/



/*----------------Social links*/

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background:  #6D8EB7;
}

/*----------------General formatting*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.italic{
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.book-heading{
    font-family: "Dancing Script";
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    
}

.book-title{
    font-family: "Slabo 27px";
}

.mistborn-caption{
    color: #6D8EB7;
    font-family: "Slabo 27px";
    font-size: 25px;
}

.elantris-caption{
    color: #1b8533;
        font-family: "Slabo 27px";
    font-size: 25px;
}
/*---------------Mistborn*/

.book-info{
    background-color: rgba(250,	250, 250, 1);
    margin-left: 55px;
    margin-right: 40px;
    color: #000;
    font-family: "Roboto";
}

.final-picture{
    background: url("../images/final-empire.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width:20px;
}



.well-picture{
    background: url("../images/well.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width:20px;
  
}

.hero-picture{
    background: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width:20px;
}

.alloy-picture{
    background: url("../images/alloy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: relative;
    margin: 0;
    width:1px;
    
    
}

.shadow-picture{
    background: url("../images/shadow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
       margin: 0;
    width:20px;
}

.band-picture{
    background: url("../images/bands.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
       margin: 0;
    width:20px;
    
}
.warbreaker-picture{
    background: url("../images/warbreaker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
       margin: 0;
    width:20px;
    
}

.elantris-picture{
    background: url("../images/elantris.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
       margin: 0;
    width:20px;
    
}

.arcanum-picture{
    background: url("../images/arcanum.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
       margin: 0;
    width:20px;
    
}

/*------------------Key info*/

.key-info{
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.key-info .key,
.key-info .value{
 padding-right: 8px;
 
}

.key-info .key p,
.key-info .value p{
 margin: 0;
 
}

.key-info .key{
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}


.key-info .key p{
    font-weight: 700;
    
}

.key-info .value{
    display: inline-block;
    position: relative;
    width: 60%;
}


.key-info-background{
    background-color: #fafafa;
    margin-left: 25px;
    
}


/*-------------Form*/

.center-form, .query-type{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;
    
}

.form-control{
    text-align: center;
}


/*---------------Media queries*/



@media(max-width:567px) and (max-width: 768px){
    .final-picture, .band-picture, .shadow-picture, .well-picture, .hero-picture, .alloy-picture, .warbreaker-picture, .elantris-picture, .arcanum-picture{
        background: none;
        position: fixed;
    }
    
    .book-info, .key-info-background{
        width:100%;
        margin: 0;
        padding-bottom: 10px;
    }
}


@media(min-width:568px) and (max-width: 768px){
    .final-picture, .band-picture, .shadow-picture, .well-picture, .hero-picture, .alloy-picture, .warbreaker-picture, .elantris-picture, .arcanum-picture{
        background: none;
        position: fixed;
    }
      .book-info, .key-info-background{
        width:100%;
        margin: 0;
        padding-bottom: 10px;
    }
}

@media(min-width:768px) and (max-width: 997px){
    .final-picture, .band-picture, .shadow-picture, .well-picture, .hero-picture, .alloy-picture, .warbreaker-picture, .elantris-picture, .arcanum-picture{
       width:100%;
       margin-bottom: 20px;
    }
      .book-info, .key-info-background{
        width:100%;
        margin: 0;
        margin-bottom: 10px;
    }
}