@import url('https://fonts.googleapis.com/css?family=Exo|Ranga|Roboto|Slabo+27px: 100, 200, 300, 400, 500, 600, 700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script: 100, 200, 300, 400, 500, 600, 700');

/*----------------Background colours*/

/*List of hex codes

Mistborn blue - #6D8EB7
*/

body {

    padding-top: 100px;
    background:#000;

}



.background {
    background:
    url("../images/books.jpg");


}


.gallery-background {
    background: #000;

}


.mistborn-page-background {
    background-color: #5e86b3;
}

.mistborn-background-picture {
    background-image: url("../images/vin_mistborn.jpg");

    background-repeat: repeat;
    background-size: contain;


}


.stormlight-page-background {
    background: #b3181b;
    height: 100%;
}

.other-books-background {
    background: #0b6129;
}


.cosmere-background-color{
    background: #e1e4e5;
}



/*NAVBAR*/

.nav-border {
    padding: 0;
}


.navbar ul li {
    padding-bottom: 20px;

}

.navbar a {
    color: #fff;
    text-align: center;

}


.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #525252;
    border: 0;
    z-index: 1;

}

.navbar .navbar-brand {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Ranga";
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background: transparent;

}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: #FFFFFF;

}

.navbar-btn:hover {
    background-color: #000;
    border-color: #df4929;
    color: #FFFFFF;
}

.collapse {
    padding: 0;
}




/*--------------Style*/

.styles {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    display: inline;
}


.styles a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 30px;
    font-family: "Ranga";
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 10px;



}

/*----------------Picture*/

.picture {
    background: url("../images/brendon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    min-width: 360px;
    padding: 0;
    position: static;

}

/*----------------Bio*/

.bio-paragraph {
    color: #fafafa;
    font-family: "Slabo 27px", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    display: inline-block;

}

#bio {
    background: rgba(0, 0, 0, 0.6);
    padding-right: 15px;
    padding-left: 15px;
}


/*----------------Welcome*/

.welcome-heading {
    color: #000;
    text-align: center;
    font-family: "Slabo+27px", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;

}


.intro-paragraph {

    display: inline-block;
    width: 100%;
     background: rgba(0, 0, 0, 0.6);
    padding-right: 15px;
    padding-left: 15px;


}

.intro-paragraph p {
    color: #fafafa;
    font-family: "Slabo 27px", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#welcome {
    margin-top: 20px;

}

/*----------------hover.css*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;



}

/*----------------Footer*/

footer {
    background: #525252;
    color: #fafafa;
    min-height: 120px;
    padding: 0;
    width: 100%;
    margin-top: 20px;
}



/*----------------placeholder*/

.row {
    margin-right: 0;
    margin-left: 0;
}

/*----------------Social links*/

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #6D8EB7;
}

/*----------------General formatting*/

h1,
h2,
h3,
h4 {
    margin: 0;
}


.overview-heading {
    color: #000;
    font-family: "Slabo+27px", sans-serif;

}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.book-heading {
    font-family: "Dancing Script", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;

}

.stormlight-overview {
    color: #000;
    font-family: "Slabo 27px", sans-serif;
    font-size: 25px;
}

.book-title {
    font-family: "Slabo 27px", sans-serif;
    color: #000;
}

.mistborn-caption {
    color: #6D8EB7;
    font-family: "Slabo 27px", sans-serif;
    font-size: 25px;
}

.elantris-caption {
    color: #1b8533;
    font-family: "Slabo 27px", sans-serif;
    font-size: 25px;
}

.stormlight-caption {
    color: #cb322c;
    font-family: "Slabo 27px", sans-serif;
    font-size: 25px;
}

.teaching-video {
    position: static;
}

.player {
    width: 80%;
    background-color: #000;
    margin: auto;
    padding: 30px;
    float: none;
}


.video-player {
    display: block;
    margin: auto;
    height: 315px;
    width: 100%;
    border: none;

}

.hidden-title {
    display: none;
}

.overview {
    background-color: #fafafa;
    width: 80%;
    margin: auto;
    padding: 30px;
    font-family: "Slabo 27px", sans-serif;
    font-size: 23px;
    text-align: center;


}

.test-overview {
    background-color: #fafafa;
    width: 80%;
    margin: auto;
    padding: 30px;

}

.test-overview p {
    font-family: "Slabo 27px", sans-serif;
    font-size: 23px;
    text-align: center;

}

.book-info {
    background-color: rgba(250, 250, 250, 1);
    margin-left: 55px;
    margin-right: 40px;
    color: #000;
    font-family: "Slabo 27px", sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 10px;

}


.cosmere-info,
.contact-info {
    background-color: rgba(250, 250, 250, 1);
    margin-right: auto;
    color: #000;
    font-family: "Slabo 27px", sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 10px;
}

.value {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.audio-player {
    margin: auto;
    display: block;
}

hr{
    border-top: none;
}

/*--Table*/

table {
    width: 80%;
    alignment-baseline: central;
}

table,
th,
tr,
td {
    border: 1px solid black;

}

.mobile-list {
    display: none;
}

.planets-table {
    background-color: #fafafa;
    margin: auto;
    text-align: center;
    font-family: "Slabo 27px", sans-serif;
    width: 100%;
}

.planets-table th {
    background-color: #fafafa;
    margin: auto;
    text-align: center;
    font-family: "Slabo 27px", sans-serif;
}

.tour-dates {
    background-color: #fafafa;
    margin: auto;
    text-align: center;
    font-family: "Slabo 27px", sans-serif;
}

.tour-dates th {
    background-color: #fafafa;
    margin: auto;
    text-align: center;
    font-family: "Slabo 27px", sans-serif;
}

/*---------------Pictures*/

.allomancy-picture {
    background: url("../images/allomancy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 400px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

.final-picture {
    background: url("../images/final-empire.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}



.well-picture {
    background: url("../images/well.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;


}

.hero-picture {
    background: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;


}

.alloy-picture {
    background: url("../images/alloy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: relative;
    margin: 0;
    width: 1px;


}

.shadow-picture {
    background: url("../images/shadow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

.band-picture {
    background: url("../images/bands.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;


}

.warbreaker-picture {
    background: url("../images/warbreaker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

.elantris-picture {
    background: url("../images/elantris.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;


}

.arcanum-picture {
    background: url("../images/arcanum.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

.wayofkingsp1-picture {
    background: url("../images/wayofkingsp1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

.wayofkingsp2-picture {
    background: url("../images/wayofkingsp2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;

    width: 20px;
}

.WORP1-picture {
    background: url("../images/WORP!.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

.WORP2-picture {
    background: url("../images/WORP2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

.oathbringer-picture {
    background: url("../images/oathbringer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;



}

.edgedancer-picture {
    background: url("../images/edgedancer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    min-width: 150px;
    padding: 0;
    position: static;
    margin: 0;
    width: 20px;

}

/*------------------Key info*/

.key-info {
    margin-bottom: 20px;
    display: block;
    clear: both;

}

.key-info .key,
.key-info .value {
    padding-right: 8px;

}

.key-info .key p,
.key-info .value p {
    margin: 0;

}

.key-info .key {
    display: inline-block;
    width: 40%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;

}


.key-info .key p {
    font-weight: 700;

}

.key-info .value {
    display: inline-block;
    position: relative;
    width: 50%;
}


.key-info-background {
    background-color: #fafafa;
    margin-left: 25px;


}

.overlay-background {
    background: rgba(255,255,255, 0.7);
    width: 95%;
    height: 100%;
    padding: 10px;
}


/*-------------Form*/

.center-form,
.query-type {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;

}

.form-control {
    text-align: center;
}

/*------------Image Gallery*/

.gallery {
    margin: 5px;
    float: left;
    width: 100%;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    background-color: #000;
    color: #fafafa;
    font-family: "Slabo 27px", sans-serif;
    border: 2px solid #fff;
}

/*---------------Modal*/

/* Style the Image Used to Trigger the Modal */

.myImg {

    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: "Slabo 27px", sans-serif;
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;

}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*---------------Media queries*/

@media(max-width:1024px) {
    .final-picture,
    .band-picture,
    .oathbringer-picture,
    .edgedancer-picture,
    .WORP2-picture,
    .WORP1-picture,
    .wayofkingsp2-picture,
    .wayofkingsp1-picture,
    .shadow-picture,
    .well-picture,
    .hero-picture,
    .alloy-picture,
    .warbreaker-picture,
    .elantris-picture,
    .arcanum-picture,
    .edgedancer-picture {
        width: 100%;
        margin-bottom: 20px;

    }
    .book-info,
    .key-info-background {

        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;

    }
    .video-player {

        width: 100%;

    }
    .player {
        width: 100%;
        margin-left: 2%;
        margin: 0;
    }
    .teaching-video {
        position: static;
        padding-right: 0px;
    }
}


@media(max-width:768px) {
    .final-picture,
    .band-picture,
    .oathbringer-picture,
    .edgedancer-picture,
    .WORP2-picture,
    .WORP1-picture,
    .wayofkingsp2-picture,
    .wayofkingsp1-picture,
    .shadow-picture,
    .well-picture,
    .hero-picture,
    .alloy-picture,
    .warbreaker-picture,
    .elantris-picture,
    .arcanum-picture,
    .edgedancer-picture {
        width: 100%;
        margin-bottom: 20px;

    }
    .book-info,
    .key-info-background {

        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;

    }
    .video-player {

        width: 100%;

    }
    .player {
        width: 100%;
        margin-left: 2%;
        margin: 0;
    }
    .teaching-video {
        position: static;
        padding-right: 0px;
    }
}



@media(max-width:480px) {
    .final-picture,
    .band-picture,
    .oathbringer-picture,
    .edgedancer-picture,
    .WORP2-picture,
    .WORP1-picture,
    .wayofkingsp2-picture,
    .wayofkingsp1-picture,
    .shadow-picture,
    .well-picture,
    .hero-picture,
    .alloy-picture,
    .warbreaker-picture,
    .elantris-picture,
    .arcanum-picture,
    .edgedancer-picture {
        background: none;
        position: fixed;
    }

    .book-info,
    .key-info-background {

        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;

    }
    .video-player {

        width: 100%;

    }
    .player {
        width: 100%;
        margin-left: 2%;
        margin: 0;
    }
    .teaching-video {
        position: static;
        padding-right: 0px;
    }

    /* .planets-table{
       display: none;
    }*/
    .mobile-list {
        display: list-item;
    }

    .picture {
        background: url("../images/brendon.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 360px;
        min-width: 2px;
        padding: 0;
        position: static;

    }
}
